<pre>


</pre>
<section id="slogin">
    <div class="slogin-container" data-aos="fade-up" data-aos-delay="150">
      <h2>Registered User Details</h2>
     

      <table class = "table table-hover table-dark">
        <thead>
            <tr>
                
                <td> Id</td>
                <td> Name </td>
                <td colspan="2">Modify Details</td>
                <td><button  class="btn btn-warning"><a routerLink="/adminlog">LOG OUT</a></button></td>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let account of accounts" >
                <td> {{ account.id }} </td>
                <td> {{ account.name }} </td>
                <td> <button (click) = "deleteAccounts(account.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button></td>
               <td><button (click) = "updateAccounts(account.id)" class = "btn btn-info"> Update</button></td> 
               <td> <button (click) = " accountDetails(account.id)" class = "btn btn-success" style="margin-left: 10px"> View</button></td>
              </tr>
              
              
              
              
            
            </tbody>
        </table>

    </div>
  </section>