@keyframes breath {
    0%   { background-size: 100% auto; }
    50% { background-size: 140% auto; }
    100% { background-size: 100% auto; }
  }
  #slogin {
      width: 100%;
      height: 100vh;
      animation: breath 50s linear infinite;
      /* background: url("/assets/img/about.jpg") top center; */
      background-color:#708090 ;
      background-size: cover;
      position: relative;
      padding: 0;
    }
    body {
      font-family: "Karla", sans-serif;
      background-color: #708090;
      min-height: 100vh; }
    
    #slogin:before {
      content: "";
      background: rgba(13, 20, 26, 0.7);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    
    #slogin .slogin-container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    
    #slogin h1 {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-transform: uppercase;
      color: #fff;
    }
    
    #slogin h2 {
      color: #eee;
      margin-bottom: 50px;
      font-size: 24px;
    }
  
      .slogin-btn {
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          display: inline-block;
          padding: 10px 35px 10px 35px;
          border-radius: 4px;
          transition: 0.5s;
          color: #fff;
          background: #ff4a17;
          border: 2px solid #ff4a17;
        }
        
      .slogin-btn:hover {
          border-color: #fff;
          background: rgba(255, 255, 255, 0.1);
        }
  
      .table{
        border-color: #fff;
        color:white;
        font-family: "Poppins", sans-serif;
      }
  
  