<section id="about-boxes" class="about-boxes">
    <div class="container" data-aos="fade-up">
        <pre>

        </pre>
            <div class=" section-title">
              <h2>Accounts</h2>
              <p>start a new account</p>
            </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <img src="assets/img/about-boxes-1.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="ri-brush-4-line"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/register">SAVINGS ACCOUNT</a></h5>
            
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <img src="assets/img/about-boxes-2.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="ri-calendar-check-line"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/register">CURRENT ACCOUNT</a></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <img src="assets/img/about-boxes-3.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="ri-movie-2-line"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/register">FD ACCOUNT</a></h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <pre></pre>
  <pre></pre>
  <pre></pre>