<pre> </pre><section id="about-boxes" class="about-boxes">
  <div class="container" data-aos="fade-up">
<pre>

</pre>
    <div class=" section-title">
      <h2>Loan Accounts</h2>
      <p>Our loans</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <img src="assets/img/12.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="ri-brush-4-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Personal Loan</a></h5>
            <p class="card-text">No matter why you need a personal loan, pecunia Bank can customise the offering for you. If you already have an pecunia Bank account, you can benefit from special rates, charges and offers.pecunia Bank also offers a host of benefits for first-time loan customers Enjoy the flexibility to pick a tenure that suits you and pay back the loan in pocket-friendly EMIs.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="card">
          <img src="assets/img/15.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="ri-calendar-check-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Vehicle Loan</a></h5>
            <p class="card-text">Vehicle Loans from Pecunia Bank are extremely convenient, flexible and quick. We offer flexible schemes, attractive interest rates, and quick & hassle-free application process at the click of a mouse. At the same time, we ensure that the repayment terms are equally convenient for you.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="card">
          <img src="assets/img/11.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="ri-movie-2-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Housing Loan</a></h5>
            <p class="card-text">Pecunia offers home loans with EMIs starting from ₹652 per lac and interest rates starting from 6.80%* p.a.. Create a space of your own with Pecunia Home Loans. Pecunia Housing Loan offers you all online Home Loan solutions if you want to buy, construct or renovate your house.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>