    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      
      <div class="container" data-aos="fade-up">
        <pre>

        </pre>
        <div class=" section-title">
          <h2>About</h2>
          <p>about us</p>
        </div>
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">

          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>We’re just the bank you need.</h3>
            <p class="font-italic">
              Pecunia₹ Finance Limited, established in the year 2015,  is an Indian private sector bank headquartered in Bangalore and is functioning only in Bangalore, India. In January 2019, Reserve Bank of India (RBI) issued the license to Pecunia₹ Finance Limited, to carry on banking business.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Pecunia₹ Finance Limited has recorded 18% profit in the third financial quarter of 2018-2019</li>
              <li><i class="bx bx-check-double"></i> Our customer base is increasing, targets other metropolitan cities of India to open new branches and offer financial services.</li>
            </ul>
            <p>
              We have one of the largest and most respected Wealth Management teams in India providing the widest range of solutions to individuals  and employed professionals. As of December 30,  2018 Pecunia₹ has a net-worth of approximately Rs 730 crore and micro-finance loans of Rs 300 crore in its books.
It offers a wide range of banking products and financial services for retail customers through a variety of delivery channels  in the areas of personal finance,  life insurance etc. 
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->