<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<h1><b>Account Holder Details</b></h1>
<div>
    <div>
        <label> <b> Account Id: </b></label>    {{account.id}}
    </div>
    <div>
        <label> <b> User Name: </b></label>     {{account.name}}
    </div>
    <div>
        <label> <b> Email Id: </b></label>      {{account.email}}
    </div>
    <div>
        <label> <b> Address: </b></label>       {{account.address}}
    </div>
    <div>
        <label> <b> Account Type: </b></label>   {{account.accounttype}}
    </div>
    <div>
        <label> <b> Contact: </b></label> {{account.contact}}
    </div>
    <div>
        <label> <b> State: </b></label> {{account.state}}
    </div>
    <div>
        <label> <b> Country: </b></label> {{account.country}}
    </div>
    <div>
        <label> <b> Pin: </b></label> {{account.pin}}
    </div>
    <div>
        <label> <b> Aadhar: </b></label> {{account.addhar}}
    </div>
    <div>
        <label> <b> Pan: </b></label> {{account.pan}}
    </div>
</div>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
